body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #33ffd3, rgb(192, 235, 222)); /* Purple to White Gradient */
    border: 2px solid #0f4b1e; /* Lavender Outline */
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* White for contrast */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff4500; /* Accent hover effect */
}